/*
 * 복슬 포토 
 */
.label {
	display: inline !important;
	padding: .4em .6em .3em !important;
	font-size: 75% !important;
	font-weight: bold !important;
	line-height: 1 !important;
	color: #fff !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: baseline !important;
	border-radius: .25em !important;
}

/* 좌측 메뉴 사라진 영역까지 내용 확장  */
.content_extend {
	margin-left: 15px !important;
}

.navbar-brand a {
	color: #fff;
	text-decoration: none;
}

.image_center {
	margin: auto;
}

/* style.css 재정의. 나중에 이것 때문에 문제가 될 수도 있음. */
.form-group {
	width: auto !important;
}

/* style.css 재정의. 나중에 이것 때문에 문제가 될 수도 있음. */
.form-group .form-control {
	padding-left: 6px !important;
}

section.content {
	margin-top: 80px;
}

.searchArea {
	padding-bottom: 10px;
}

/* bootstrap.css 재정의. 나중에 이것 때문에 문제가 될 수도 있음. */
.form-control {
	height: 30px !important;
}

.photo_memo {
	text-align: center;
	height: 15px;
}

.photo_area {
	position: relative;
}

.photo_button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.photo_path_btn {
	display: inline-block;
	vertical-align: middle;
}

.photo_path_btn button {
	font-size: 11px !important;;
}

/* 모달창 스크롤 */
.photo_info_scroll {
	height: 420px;
	overflow-y: auto;
}
/* 모달창에 input 박스*/
.modal_input {
	width: auto !important;
	border: 1px solid #ccc !important;
	padding-left: 10px !important;
	margin-right: 10px !important;
}

.thumbnail-wrappper {
	width: 25%;
}

.thumbnail_area {
	position: relative;
	padding-top: 100%; /* 1:1 ratio */
	overflow: hidden;
}

.thumbnail_area img {
	position: absolute;
	top: 0;
	left: 0;
}

.thumbnail_area .centered {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

.thumbnail_area .centered img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.thumbnail_area img.portrait {
	width: 100%;
	max-width: none;
	height: auto;
}

.thumbnail_area img.landscape {
	width: auto;
	max-width: none;
	height: 100%;
}

/* bootstrap.css 재정의 */ 
.thumbnail{
	margin-bottom: 0;
}