/*
 * 복슬 포토 
 */
.label {
	display: inline !important;
	padding: .4em .6em .3em !important;
	font-size: 75% !important;
	font-weight: bold !important;
	line-height: 1 !important;
	color: #fff !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: baseline !important;
	border-radius: .25em !important;
}

/* 좌측 메뉴 사라진 영역까지 내용 확장  */
.content_extend {
	margin-left: 15px !important;
}

.navbar-brand a {
	color: #fff;
	text-decoration: none;
}

.image_center {
	margin: auto;
}

/* style.css 재정의. 나중에 이것 때문에 문제가 될 수도 있음. */
.form-group {
	width: auto !important;
}

/* style.css 재정의. 나중에 이것 때문에 문제가 될 수도 있음. */
.form-group .form-control {
	padding-left: 6px !important;
}

section.content {
	margin-top: 80px;
}

.searchArea {
	padding-bottom: 10px;
}

/* bootstrap.css 재정의. 나중에 이것 때문에 문제가 될 수도 있음. */
.form-control {
	height: 30px !important;
}

.photo_memo {
	text-align: center;
}

.photo_area { 
	position: relative;
}

.photo_button {
	position: absolute;
	bottom: 10px;
	right: 25px;
}

.photo_path_btn{
	display: inline-block;
	vertical-align:middle;
}
.photo_path_btn button{
	font-size: 11px !important;;
}